body{
    background-color: black;
}

.navbar-dark .navbar-nav .nav-link{
    color: white !important;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover{
    text-shadow: 2px white !important;
    color : rgb(104, 104, 253)!important;
    font-weight: 500;
}

.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:black;
    cursor: pointer;
}

.social-icons .fab:hover {
    color: rgb(104, 104, 253);
}

.newsletter {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

.newsletter .far {
    font-size: 18px;
    margin-right: 10px;
}

.newsletter input {
    width: 100%;
    background: transparent;
    color: black;
    border: 0;
    outline: none;
}

.newsletter button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.newsletter button .fas {
    color: black;
    font-size: 16px;
}

.newsletter button .fas:hover {
    color: rgb(104, 104, 253);
}

.underline span{
    text-decoration: underline;
}

